@import '@styles/mixins.scss';

$gradient-start-color: #78ffd6;
$gradient-end-color: #007991;

.mainHolder {
  padding: 20px;
  @include bleed();
  @include gradient($gradient-start-color, $gradient-end-color, vertical);

  .loginCard {
    @include centered();
    width: 30vw;
    padding: 20px 30px 25px 30px;

    .loginCardContent {
      display: grid;
      grid-template-rows: 60px auto auto;
    }

    .cardActions {
      padding-right: 10px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
